# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = where_is_my_ride.settings

[deploy]
#url = http://localhost:6800/
project = where_is_my_ride
